# 🔍 Vulnerability Summary
Generated on: Wed  7 May 08:34:06 CEST 2025

Found 6 vulnerabilities

## System Dependencies

⚠️ openssl (HIGH) → Fixed in: 1.1.1f-2

## Library Dependencies

### From Raw Labs

#### In subproject: core

⚠️ com.fasterxml.jackson.core:jackson-databind (HIGH) → Fixed in: 2.13.4

#### In subproject: api

⚠️ com.fasterxml.jackson.core:jackson-databind (HIGH) → Fixed in: 2.13.4
⚠️ org.springframework:spring-web (CRITICAL) → Fixed in: 5.3.21

#### In subproject: common

⚠️ com.fasterxml.jackson.core:jackson-databind (HIGH) → Fixed in: 2.13.4
⚠️ org.apache.commons:commons-text (CRITICAL) → Fixed in: 1.10.0

### From Third-party

⚠️ org.apache.logging.log4j:log4j-core (CRITICAL) → Fixed in: 2.15.0
⚠️ org.postgresql:postgresql (HIGH) → Fixed in: 42.2.26
